.container {
  padding : 2em;
  margin: 0 auto;
}

.top {

  padding-left: 2em;
}

.top img{
 display: table;
}

.top {

}

.top span{
  width: 100%;
  margin: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

div {
    display: inline-table;
    margin: 5px;
}

@media screen and (max-width: 1200px) {

  .city-sec{
    display: flex;
  }

  .top {
   float: left;
  }

  .column {
    margin-top: 10%;
    float: left;
    width: inherit;

  }

  row:after {
   padding-top: 10px;
   margin: 0;
   display: table;
   clear: both;
  }

}

@media only screen and (max-width: 1200px) and (min-width: 700px)  {

.column span{
  font-size: 20px;
}

}

@media only screen and (max-width: 700px)  {

.column span{
  font-size: 12px;
}

}

@media only screen and (min-width: 1200px)  {

.column span{
  font-size: 12px;
}

}


@media screen and (min-width: 1201px) {

  .column {
    float: left;
    width: 30%;

  }

  row:after {
   padding: 0;
   margin: 0;
   display: table;
   clear: both;
  }


}

.sec-one-wrapper{
  width: 100%;
  text-align: center;
}

.column img {

transform: rotate(90deg);

}

.right_col img{
  -moz-transform: rotate(90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(90.0deg);
  /* IE6,IE7 */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* Standard */
  transform: rotate(90.0deg);
}
